.cart-products {
    padding-top: 70px;
    padding-bottom: 70px;

    &__header {
        margin-bottom: 30px;
        font-size: 20px;
        text-transform: uppercase;
    }

    &__all-buy {
        margin-top: 40px;
        padding: 10px 15px;
        border-radius: 3px;
        background-color: #03a592;
        color: #fff;
    }

    &__checkout {
        text-align: center;
        padding: 50px 0 30px 0;
        font-size: 20px;
        font-weight: 700;
    }

    &__submit {
        font-size: 20px;
        color: #4caf50;
    }
}

.form-checkout {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;

  div {
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    div {
      color: red;
      margin-top: 5px;
    }
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}