.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.container {
	max-width: 1290px;
	padding: 0 15px;
	margin: 0 auto;
}

.main {
    padding-top: 70px;
    flex: 1 1 auto;
}

/* ========= Header ========= */

.header {
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 -13px 19px 13px rgba(26,42,62,.3);

    &__block {
        min-height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icons {
        display: flex;
        column-gap: 20px;
    }
}

/* ========= Footer ========= */
.footer {
    min-height: 70px;
    background-color: #193248;
}