.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 400px;
  padding-bottom: 20px;
  background-color: #c0c0c0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
}

.modal-header {
  padding: 15px;  
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #03a592;
}

.modal-content {
  padding: 20px;
  text-align: center;
  color: #fff;
}

.modal-actions {
  display: flex;
  justify-content: center;
}